.userContainer {
    width: 100%;
    max-height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.chatContainer {
    width: 100%;
    max-height: fit-content;
    display: flex;
    justify-content: flex-start;
}

.ChatMessage {
    width: fit-content;
    background: var(--gray-600);
    border-radius: 100px;
    padding: 0.84rem 1rem;
    margin: 0 2rem 1.3rem 2rem;
    max-width: calc(46.62rem - 10rem);
}

.UserMessage {
    width: fit-content;
    background: var(--cian-200);
    color: var(--gray-600);
    border-radius: 100px;
    padding: 0.84rem 1rem;
    margin: 0 2rem 1.68rem 2rem;
    max-width: calc(46.62rem - 10rem);
}