.lose {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust width as needed */
    max-width: 24rem; /* Set a maximum width for smaller screens */
    padding: 1.2rem 2rem 1.2rem 1.2rem;
    background-color: var(--gray-800); /* Set the background color to dark */
    border-radius: 5px;
    color: #ffffff; /* Set text color to light */
    z-index: 9999; /* Set a high z-index to place modal above the overlay */

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeButton {
    all: unset; /* Removendo configurações anteriores */
    margin: 0.2rem 0.8rem 0 0;
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--cian-200); /* Set button text color to dark */
}

.closeButton:hover {
    color: var(--blue-100);
}

h3 {
    font-weight: 400;
    margin: 1rem 1rem 1rem 0;
}

h4 {
    font-weight: 400;
    margin-bottom: 1rem;
}

h4 b {
    color: var(--blue-100);
}

.sharePlaceholder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.shareButton {
    all: unset;
    color: var(--gray-200);
    background: var(--cian-200);
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
}

.shareButton:hover {
    background: var(--blue-100);
}

/* newgame feature was removed */
.newGame {
    display: flex;
    margin-top: 0.7rem;
    align-items: center;
}

.newGame p {
    all: unset;
    margin-right: 0.8rem;
    font-size: 1rem !important;
}