.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-800);
}

p {
        font-weight: 900;
        font-size: 1.5rem !important;
        padding-left: 5px;
        margin-right: 0.4rem;
}

embed {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
}

.modalButton {
    all: unset; /* Removendo configurações anteriores */
    margin: 0.2rem 0.8rem 0 0;
    cursor: pointer;
    color: var(--cian-200);
    font-size: 1.8rem;
}

.modalButton:hover {
    color: var(--blue-100);
}

h6 {
    padding-right: 10px;
    font-weight: 300;
}