.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-800);
}

p {
        font-weight: 900;
        font-size: 1.5rem !important;
        padding-left: 5px;
        margin-right: 0.4rem;
}

img {
    box-sizing: initial;
    width: 3rem;
    height: 3rem;
}

button {
    color: #00a8b3 !important;
    font-size: 1.8rem !important;
}

h6 {
    padding-right: 10px;
    font-weight: 300;
}