.grid_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}

.sidechat {
    background: var(--gray-800);
    width: 19.44rem;
    height: 32rem;
    border-radius: 5px;
}

.mainchat {
    background: var(--gray-800);
    width: 46.62rem;
    height: 32rem;
    margin-left: 4.24rem;
    border-radius: 5px;
}

.chat {
    /*display: flex;
    flex-direction: column;*/
    height: 23rem;
    overflow-y: auto;
}


div > p {
    font-size: 1.5rem;
    color: var(--gray-100);
    padding: 15px 0 18px 1.2rem;
}

.line {
    border-top: 1px solid #2B2B2D;
    margin: 0 0.6rem 1.08rem 0.6rem;
}

.guesses {
    height: 23rem;
    overflow-y: auto;
}

.placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.2rem;
}

.guessCounter {
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue-100);
}

@media (max-width: 679px) {
    .grid_container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .mainchat {
        margin: 0;
        width: 80%;
    }
    .mainchat p {
        margin-right: 1rem;
    }
    
    .chat {
        height: 21rem;
    }

    .sidechat {
        height: 25rem;
    }
    
    .guesses {
        height: 16rem;
    }
}