.win {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust width as needed */
    max-width: 400px; /* Set a maximum width for smaller screens */
    padding: 20px;
    background-color: var(--gray-800); /* Set the background color to dark */
    border-radius: 5px;
    color: #ffffff; /* Set text color to light */
    z-index: 9999; /* Set a high z-index to place modal above the overlay */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.win button {
    font-size: 1.7rem;
    color: #00a8b3; /* Set button text color to dark */
}

h3 {
    margin-right: 1rem;
}

.footer {
    display: flex;
    align-items: center;
}