/* Example CSS for modal with dark overlay */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust width as needed */
    width: 90%; /* Set a maximum width for smaller screens */
    min-width: 24rem;
    padding: 1.2rem 2rem 1.2rem 1.2rem;
    background-color: var(--gray-800); /* Set the background color to dark */
    border-radius: 5px;
    color: #ffffff; /* Set text color to light */
    z-index: 9999; /* Set a high z-index to place modal above the overlay */
  }

  .modal div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
  }
  
  .modal h1 {
    font-size: 1.68rem;
  }
  
  .modal p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.3rem;
  }
  
  .modal button {

    all: unset; /* Removendo configurações anteriores */
    margin: 0.2rem 0.8rem 0 0;
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--cian-200); /* Set button text color to dark */
  }

  .modal button:hover {
    color: var(--blue-100);
  }

  .regras {
    color: var(--blue-100);
  }

  /* Example media query for small screens */
  @media (max-width: 600px) {
    .modal {
      width: 10%;
      max-width: 100%; 
      line-height: 2rem;
    }
  }
  